
.cardBox {
    transition: box-shadow 0.3s;
    width: 300px;
    height: 450px;
    border-radius:10px;
    border: 0.3 #ccc;
    background: #fff;
    float: left;

  
    
  }
  .cardBox:hover {
    box-shadow: 0 0 20px rgba(33,33,33,.33); 
  }
  .btnVerMas {
    display: flex;
    width: 100%;
  }

 